body {
  background-color: #f2f2f2;
}

/* Login/Register Forms */
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-content input:focus {
  box-shadow: 0 0 5px #00e6b0;
  /* Change the color and size of the shadow */
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 25px;
  color: #009b77;
  font-weight: 800;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: #008062;
}

.Auth-form-wrapper {
  display: flex;
  margin-left: 8%;
}

.Square {
  width: 350px;
  /* Adjust the width to match the form width */
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #00b389;
  text-align: center;
}

.Square-title {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.Square-title-lobby {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
}

.Square-text {
  font-size: 16px;
  color: white;
  margin-bottom: 18px;
}

.Square-register {
  width: 350px;
  /* Adjust the width to match the form width */
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #00b389;
  text-align: center;
}

/* Buttons */
.btn-primary {
  background-color: #009b77;
  color: #fff;
  /* Text color */
  border: none;
}

.custom-btn:disabled {
  background-color: #009b77;
  cursor: not-allowed;
}

.custom-btn:hover:not(:disabled) {
  background-color: #00e6b0;
}

/* Navbar */
.sidenav {
  height: 100%;
  width: 176px;
  position: fixed;
  /* (stay in place on scroll) */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #001a14;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  /* Add logo */
  background-image: url('/public/logoGomoku.png');
  background-size: 150px 65px;
  background-repeat: no-repeat;
  background-position: center bottom 15px;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Navigation menu links */
.sidenav a {
  padding: 6px 8px 15px 14px;
  text-decoration: none;
  font-size: 22px;
  color: #009b77;
  display: block;
}

/* Mouse over, change color */
.sidenav a:hover {
  color: #00e6b0;
}

.sidenav.visible {
  display: block;
}

/* Style page content */
.main {
  margin-left: 160px;
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


.toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #009b77;
  cursor: pointer;
}

.toggle-btn:hover {
  color: #00e6b0;
}


/* Leaderboard Page */
.leaderboard-container {
  margin-top: 15px;
  margin-left: 8%;
  width: 43rem;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.body-leaderboard {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 2rem;
}

h1 {
  font-size: 1.8rem;
  color: #141a39;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -8px;
}

.leaderboard {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

th {
  background-color: #fff;
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  position: relative;
  text-align: center;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0px 2px 4px 4px #00cc9c;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(1) {
  background: #19e6b6 url('/public/trophies1.png') center right no-repeat;
  background-size: 70px 85px;
}

tr:nth-child(2) {
  background: url('/public/trophies2.png') center right no-repeat;
  background-size: 68px 85px;
}

tr:nth-child(3) {
  background: #f9f9f9 url('/public/trophies3.png') center right no-repeat;
  background-size: 70px 85px;
}

td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  width: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.name {
  text-align: center;
  font-size: 1.2rem;
}

.points {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

/* Loading */
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-left: 8%;
}

.spinner {
  width: 17.6px;
  height: 17.6px;
  border-radius: 17.6px;
  box-shadow: 44px 0px 0 0 rgba(0, 179, 137, 0.2), 35.6px 26px 0 0 rgba(0, 179, 137, 0.4), 13.64px 41.8px 0 0 rgba(0, 179, 137, 0.6), -13.64px 41.8px 0 0 rgba(0, 179, 137, 0.8), -35.6px 26px 0 0 #00b389;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 110px;
  font-size: 1.2rem;
  color: #009b77;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-place {
  margin-top: 25px;
}

/* Join Lobby Page */
.title-lobbies {
  padding-left: 5%;
  text-align: center;
  font-size: 30px;
  color: #009b77;
  font-weight: 800;
  margin-top: 3.5rem;
}

ol {
  width: min(80rem, 90%);
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;

  list-style: none;
  counter-reset: cardnr;
  justify-content: center;
  margin-top: 7rem;
  padding-left: 5%;
}

li {
  --frontColor: white;
  --width: 10.1em;
  --inlineP: 0.5rem;
  --borderR: 3.5rem;
  --arrowW: 2rem;
  --arrowH: 1.5rem;

  counter-increment: cardnr;
  width: calc(var(--width) - var(--inlineP) * 2);
  display: grid;
  grid-template:
    "title"
    "descr" 1fr;
  margin-inline: var(--inlineP);
  margin-bottom: calc(var(--borderR));
  position: relative;
}

li .title,
li .descr {
  background: var(--frontColor);
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

li .title,
li .descr {
  filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
}

li .title {
  color: #009b77;
  text-align: center;
  padding-bottom: 0.2rem;
  grid-area: title;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: var(--borderR);
  border-radius: var(--borderR) 0 0 0;
}

li .descr {
  grid-area: descr;
  font-size: 0.85rem;
  text-align: center;
  height: 9em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li .descr span {
  margin-bottom: 0.25em;
}

li .descr::before {
  content: "";
  width: var(--arrowW);
  height: var(--arrowH);
  position: absolute;
  right: 1.5rem;
  top: 100%;
  background: inherit;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

li::after {
  content: counter(cardnr, decimal-leading-zero);
  position: absolute;
  z-index: -1;

  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  top: var(--borderR);
  bottom: calc(3.3rem * -1);

  display: flex;
  align-items: flex-end;
  background: #009b77;
  border-radius: 0 0 var(--borderR) 0;

  --pad: 1rem;
  padding: var(--pad);
  font-size: calc(var(--borderR) - var(--pad) * 2);
  color: white;
}

li::before {
  content: "";
  position: absolute;
  height: var(--borderR);
  top: calc(100% + var(--borderR) - 2px);
  left: calc(var(--inlineP) * -1);
  right: calc(var(--inlineP) * -1);
  border-radius: 0 var(--borderR) 0 0;

  background-image: linear-gradient(#009b77, transparent 60%);
  opacity: 0.5;
  filter: blur(2px);
}

li:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

/* Create Lobby Page */
.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  padding-right: 30px;
}

.custom-dropdown::after {
  content: '\002B';
  /* Unicode character for a left arrow */
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 25px;
  color: #00b389;
  pointer-events: none;
  /* Ensure the arrow doesn't interfere with select clicking */
}

.custom-dropdown select:focus,
.custom-dropdown select:active {
  outline: none;
  box-shadow: 0 0 5px #00e6b0;
}

/* Profile Page */
h3 {
  font-size: 18px;
  font-weight: 500;
  color: #33363b;
}

p {
  font-size: 14px;
  color: #868d9b;
}

.card-container {
  padding-left: 5%;
}

.card {
  width: 408px;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 120px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  text-align: center;
}

.card_profile_img {
  width: 140px;
  height: 140px;
  background-color: #868d9b;
  background: url("/public/profile_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 120px;
  margin: 0 auto;
  margin-top: -60px;

}

.card_background_img {
  width: 100%;
  height: 200px;
  background-color: #e1e7ed;
  background: url('/public/profile_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 3.5px solid #009b77;
}

.user_details p {
  margin-top: -3px;
}

.user_details_2 p {
  margin-bottom: 20px;
  margin-top: -12px;
}

.user_details h3 {
  margin-top: 15px;
}

.card_count {
  padding: 30px;
  border-top: 1px solid #dde1e7;
}

.count {
  margin-bottom: 10px;
}

.count p {
  margin-top: -10px;
  font-weight: normal;
}


/* Navbar logged */
.user-profile {
  text-align: center;
  /* Center the content within the div */
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-color: #868d9b;
  background: url("/public/profile_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 120px;
  margin: 0 auto;
  margin-top: -10px;
  transition: transform 0.3s;
}

.user-profile h3 {
  margin-top: 10px;
  /* Adjust the margin to your preference */
  color: #009b77;
  transition: transform 0.3s;
}

.profile-link:hover {
  cursor: pointer;
}

.profile-link:hover .profile-pic {
  transform: scale(1.2);
}

.profile-link:hover h3 {
  transform: scale(1.2);
}


/* Home Page */
.wave-container {
  height: 30vh;
  background-color: #001a14;
  position: relative;
}

.wave-container::before {
  content: "";
  width: 100%;
  height: 83px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 85vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 117' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 4 51.5 8C104.5 17 200 38 300 58C400 77 500 97 600 89C700 81 800 46 900 26C987.526 4 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V117H1150C1100 117 1000 117 900 117C800 117 700 117 600 117C500 117 400 117 300 117C200 117 100 117 50 117H0V1.98128Z' fill='%23f2f2f2'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {
    height: 41.5px
  }
}

.wave-text {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #00b389;
  font-size: 3.5em;
  z-index: 2;
}


.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 65vh;
  padding-left: 20%
}

.home-container b {
  color: #001a14;
}

.home-text {
  color: #001a14;
  font-size: 1em;
  line-height: 1.3;
  width: 60vw;
}

.home-text-title {
  text-align: center;
  color: #001a14;
  font-size: 1em;
  margin-bottom: 30px;
}

.home-text-end {
  text-align: center;
  color: #001a14;
  font-size: 1em;
  margin-bottom: 60px;
  margin-top: 25px;
}

.circles-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.circle-content {
  font-size: 1.3em;
  text-align: center;
  color: #001a14;
  white-space: nowrap;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00b389;
  padding: 95px;
  transition: all 0.5s ease;
}

.circle:hover {
  transform: translateY(-100%) scale(2);
  border-radius: 0;
}

.circle:hover .circle-content {
  display: none;
  /* Hide the content when hovering */
}

.circle {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.circle:hover .team-members,
.circle:hover .about-game-content {
  display: block;
  /* Show the team members and about-game content when hovering */
}

.team-members {
  display: none;
  /* Hide the team members by default */
  color: #001a14;
  text-align: center;
  padding: 20px;
}

.team-member {
  margin-bottom: 20px;
  font-size: 0.7em;
}

.team-member-last {
  font-size: 0.7em;
}

.team-member-title {
  font-size: 0.6em;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-game-line {
  margin-bottom: 4px;
  font-size: 0.55em;
  white-space: nowrap;
}

.about-game-line-first {
  margin-bottom: 20px;
  font-size: 0.55em;
  white-space: nowrap;
}

.about-game-line-last {
  margin-bottom: 25px;
  font-size: 0.55em;
  white-space: nowrap;
}